/* 
    [COMMON] Transition
    Define transition animation types
*/
    /* .v-enter-from,
    .v-leave-to{
        opacity: 0;
        transform: translateX(150px);
    }

    .v-enter-active{
        transition: 0.3s all ease-in;
    }
    .v-leave-active{
        transition: 0.3s all ease-out;
    } */
/**/


.bm-menu {
    background-color:#000051 ;
}

.nav-item{
    color: whitesmoke;
}

.nav-item:hover{
    color: #df78efac;
}

.box{
    background-color:white;
}
.item{
    background-color:  rgba(231, 229, 229, 0.646);
    min-width: fit-content;
}
.red{
    color: red;
}

.box-head{
    display: flex;
    justify-content: space-between;
}
#displayBtn {
    float: right;
    margin-left: 2%;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}